body {
    background-image: url('https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
   }

   .container {
     max-width: 1000px;
     border-style: solid;
     border-color: grey;
     background-color: skyblue;
     margin-top: 50px;
     font-family: Arial, Helvetica, sans-serif;
     

    }

    h5 {
        color: white;
        font-size:x-large;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #343a40!important;
        color: white;
        text-align: center;
        position:fixed;
    }